* {
  box-sizing: border-box;  
}

body {
    background: #1F2937;
    font-family: Roboto, sans-serif;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bolder;
    border-radius: 5px;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: center;
    color: #E5E7EB;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px;
}

.hero-text {
    display: flex;
    flex: 0 1 400px;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    width: 400px;
    height: 200px;
}

.content {
    background-color: #fff;
}

.info-header {
    display: flex;
    justify-content: center;
}

.info-items {
    display: flex;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.action {
    background-color: #3882f6;
}


